body{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(216,70,252,1) 100%);

}
body img{
    height: 170px;
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border-color: white;
    
}
h1{
    text-align: center;
    color: white;
}
h2{
    background-color: white;
    text-align:center;
    border-radius: 100px;
    color: black;
    
    
}
h2:hover{
    color: white;
    background-color: black;

}
h2 img{ display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}
.navbar1{
    display: flex;
    justify-content: center;
    /* height: 12vh; */
    align-items: center;
align-self: start;
flex-wrap: wrap;
}
.Projects{
border: 2px solid white;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}
.About{
border: 2px solid white;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}
.Contact{
border: 2px solid white;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
}

.Projects:hover{
    background-color: white;
}
.About:hover{
    background-color: white;
}
.Contact:hover{
    background-color: white;
}
.form{
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
   margin-left: auto;
   margin-right: auto;
    
display: flex;
flex-direction: column;
align-items: center;


}
.form input{
    background-color: aqua;
    width: 250px;
  
}